@charset "UTF-8";

.contato {
    background-color: var(--cor-branco);
    padding: 1.5em 1.5em 1.87em 1.5em;
}

.contato__titulo, 
.contato__texto {
    background: var(--cor-azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    font-size: 1.12rem;
    font-weight: 500;
}

.contato__texto {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5em;
    margin: 1em 0;
}

.contato__email {
    color: var(--cor-azul);
    border: 1px solid var(--cor-azul);
    border-radius: 1.5em;

    padding: 1em;
    width: 90%;
}

.contato__email::placeholder {
    background: url("../images/Email.svg") left no-repeat;

    font-family: var(--font-primaria);
    color: var(--cor-azul);
    padding-left: 2em;
}

@media screen and (min-width: 1024px) {
    .contato {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contato__descricao {
        margin-right: 1em;
        width: 30%;
    }

    .contato__titulo {
        font-size: 1.5rem;
    }

    .contato__email {
        width: 30%;
    }
}